<div class='home_content'>
  <div class='wrapper'>
    <% @photos.each do |photo| %>
      <%= link_to photo.user.try(:name), user_path(photo.user), :class => 'author' %><!-- 自己 -->
      <div class='time'><%= photo.created_at.to_formatted_s(:short) %></div>  <!-- po照片的時間 -->

      <div class='content_wrapper'>
        <div class='content'>
          <%= link_to image_tag(photo.avatar(:medium)), photo_path(photo), :class => 'photo' %>
          <% if current_user == photo.user %>
            <%= link_to "x", photo_path(photo), :method => :delete, :class => 'photo_delete' %>
          <% end %>

            <div class='like_wrapper'>
              <% if photo.can_user_like?(current_user) %>
                <%= link_to image_tag("unlike.png"), like_photo_path(photo), :method => :post %>
              <% else %>
                <%= link_to image_tag("like.png"), unlike_photo_path(photo), :method => :post %>
              <% end %>
            
              <%= photo.likes.count %>
            
              <% photo.likes.each do |a| %>
                <%= link_to a.user.try(:name), user_path(a.user) if a.user %>       <!-- 顯示like的人 -->
              <% end %> 
            </div>

            <div class='description'>  
              <%= photo.content %>                                                  <!-- photo描述 -->
            </div>

            <div class='tag'>
              Tag:<%= tag_links(photo.all_tags) %>                                      <!-- tags -->
            </div>
                        
            <%#= link_to photo.user.likes.count, photo_path(photo) %>         <!-- 自己曾經按like的照片 -->
                     
            <div class='reply_wrapper'>                      
              <% photo.comments.each do |comment| %>
                <%= link_to comment.user.try(:name), user_path(comment.user), :class => 'reply_user' %>
                <div class='reply_content'>
                  <%= comment.content %>                        <!-- 留言的內容 -->
                  <% if current_user == comment.user %>
                    <%= link_to "x", comment_path(comment), :method => :delete, :class => 'reply_del' %>
                  <% end %>
                </div> 
            <br>
              <% end %>
            </div>

              <%= form_for photo.comments.build do |f| %>
                <%= f.text_field :content, placeholder: "Write a comment", :class => 'content_textarea' %> <!-- 要留言的表單 -->
                <%= f.hidden_field :photo_id %>
              <% end %>
          </div>
    <% end %>
      <div class='paginate'><%= paginate @photos %></div> 
      </div>
  </div>
</div>