<h1>Instagram</h1>

<% if current_user %>
  Hi, <%= current_user.name %> <br>
  <%= link_to "New Photo", new_photo_path %>
  <%= link_to "登出", auth_signout_path, :method => :delete %></a>
<% else %>
  <%= link_to "Facebook 登入", "/auth/facebook" %></a>
<% end %>





<br>

<% @photos.each do |photo| %>

  <%= image_tag photo.avatar(:medium) %>  <br>

  <%= link_to "like", like_welcome_path(photo), :method => :post %>
  <%= photo.likes.count %>  <br>

  <%= link_to photo.user.try(:name) %>     
  
  <%= photo.created_at.strftime("%I:%M %p %b %d") %>
  <br> 
  title:<%= photo.content %>       
  

  <% if current_user == photo.user_id %>
    <%= link_to "delete", photo_path(photo), :method => :delete %>
  <% end %>
  <br>

  <% photo.comments.each do |comment| %>
    <%= link_to comment.user.try(:name) %>  
    <%= comment.content %>

    <% if current_user == comment.user_id %>
      <%= link_to "delete", comment_path(comment), :method => :delete %>
    <% end %>

    <br>
  <% end %>

  <%= form_for photo.comments.build do |f| %>
    <%#= f.label :content,'content' %>
    <%= f.text_area :content %>
    <%= f.hidden_field :photo_id %>
    <%= f.submit %>
  <% end %>
  <br>
<% end %>

<%= paginate @photos %>

