<h1>Instagram</h1>

<% if current_user %>
  Hi, <%= current_user.name %>
  <%= link_to "登出", auth_signout_path, :method => :delete %></a>
<% else %>
  <%= link_to "Facebook 登入", "/auth/facebook", id: "sign_in" %></a>
<% end %>


<%= link_to "New Photo", new_photo_path %>

<br>

<% @photos.each do |photo| %>

  <%= image_tag photo.avatar(:medium) %>
  <%= photo.content %>
  
  <%= link_to "delete", photo_path(photo), :method => :delete %>


  <%= form_for photo.comments.new do |f| %>

    <%= f.label :content,'content' %>
    <%= f.text_area :content %>
    <%= f.hidden_field :photo_id %>

    <%= f.submit %>

  <% end %>

<br>

<% end %>



