<div class='photopage_wrapper' >
  <div class='wrapper'>
    <%= image_tag(@photo.avatar(:medium), :class => 'photopage_photo') %>

    <div class='photopage_info'>
      <div class='photopage_like'><span><%= @photo.likes.count%></span>Likes</div>
      <%= @photo.user.try(:name) %> 
      <div class='photopage_content'><%= @photo.content %></div> 
      
      Comments:
      <div class='photopage_comment'>
        <% @photo.comments.each do |comment| %>
           <%= link_to comment.user.name, user_path(comment.user) %> 
          <%= comment.content %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>